﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>    
    @Styles.Render("~/bundles/styles/main")
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="container">
        @RenderBody()

        <footer>
            @Scripts.Render("~/bundles/scripts/main")
            @RenderSection("Scripts", required: false)
        </footer>
    </div>    
</body>
</html>
